[submodule "frontend"]
	path = frontend
	url = git@github.com:PineCookie/lora-gui-dist.git
[submodule "mikazuki/dataset-tag-editor"]
	path = mikazuki/dataset-tag-editor
	url = https://github.com/Akegarasu/dataset-tag-editor
